<html>
    <head>
        <style>
            body{
                background:url("https://downloader.la/temp/5d6f3f02db9a8.png");
                background-size: cover;
                background-repeat: no-repeat;
            }
        a[href]{
            /* background:yellow; */
            color:blue;
            align-self: auto;
            text-align: center;
            font-size: 25px;
            cursor: pointer;
            
        }
            </style>
    </head>
    <body>
        <br><br><br><br><br><br><br><br><br><a href='/adminreg/'><b><center>Register</center></b></a><br>
        <a href='/adminlog/'><b><center>Login</center></b></a>

    </body>
</html>