<html>
    <head>
        <style>
            body{
                background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVAIaK51mdQRhU--wT_sfGTZAij4mwJhGCuB16J4ZgheLVLMi1Nw");
                background-size: 1000pt;
                background-repeat: no-repeat;
            }
        a[href]{
            background:yellow;
            color:purple;
            align-self: auto;
            text-align: center;
            cursor: pointer;
            
        }
            </style>
    </head>
    <body>
        <a href='/adminreg/'><b>Register</b></a><br><br>
        <a href='/adminlog/'><b>Login</b></a>

    </body>
</html>