<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style>
        body{
            background:url("https://downloader.la/temp/5d71e27de54b2.png");
            background-repeat: no-repeat;
            background-size: cover;
    }
    a[href]{
        font-style: bold;
        color:white;
        margin: auto;
        font-size: 1.5em;
    
    }
 </style>
    </head>
    <body>
            <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#">ZOO</a>
                      </div>
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="/admin2/">Admin</a></li>
                        <li><a href="/user/">User</a></li>
                        <li><a href="#">Register</a></li>
                        <!-- <li><a href="#">Page 3</a></li> -->
                      </ul>
                    </div>
                  </nav>
         <!-- <nav class="w3-bar w3-red">
            <br><br><a href="/admin2" class="w3-button w3-bar-item">Admin</a>
            <a href="/user/" class="w3-button w3-bar-item">User</a>
            <a href="#tour" class="w3-button w3-bar-item">Registration</a>
            <a href="#contact" class="w3-button w3-bar-item">Login</a>
            <a href="#contact" class="w3-button w3-bar-item">Ticket Booking</a>
            <a href="#contact" class="w3-button w3-bar-item">Details</a>
        </nav> -->
            <!-- <br><br><br> <br><br><br><a href="/admin2/" ><b><center>Admin</center></b></a>&nbsp;
        <a href="/user/"><b><center>User</center></b></a><br> -->
    </body>
</html>