<html>
    <head>
        <style>
a[href]{
    color:purple;
    /* background:green; */
    text-align: center;
    cursor: pointer;
}
body{
    background:url("https://steamcdn-a.akamaihd.net/steam/apps/703080/header.jpg?t=1566285119");
    background-size:cover;
    background-repeat: no-repeat;
    /* align-items: center; */

}
        </style>
    </head>
    <body>
        <br><br><br><a href="/admin2/" ><b><center>Admin</center></b></a><br>
        <a href="/user"><b><center>User</center></b></a><br>
    </body>
</html>