<html>
    <head>
        <style>
            tr{
                color: crimson;
            }
            td{
                color:green;
             }
        </style>
        </head>
<body>

    <table width="2" border="2" align="center"> 
      <div style= "background-color:blue"><thead>
            <th>Ticket_Id</th>
            <th>Date</th>
            <th>No_Of_Adults</th>
            <th>No_Of_Childs</th>
            <th>Total_Cost</th>
             <th> Total_Tickets</th>
             <th>Status</th>
             <th>Park_Name</th>

       </thead></div> 
       <tbody>
           <tr> 
           <td><b><center>{{ticket_id}} </center> </b></td>
           <td><b><center>{{Date}} </center>  </b></td>
           <td><b><center>{{adult}} </center> </b></td>
           <td><b><center>{{child}} </center>  </b></td>
           <td><b><center>{{cost}} </center>  </b></td>
           <td><b><center> {{total}}</center>  </b></td>
           <td><b><center>{{status}}</center></b></td>
           <td><b><center>{{parks_names}}</center></b></td>


           </tr>
        </tbody>
    </table>
    <a href="/userhome/"><center>Back</center></a>
</body>
            
   </html>