<html>
    <head>
        <style>
            tr{
                color: crimson;
               align:center;
            }
            td{
                color:green;
                align:center;
            }
        </style>
        </head>
<body>

    <table width="2" border="2" align="center"> 
        <thead>
            <center>
            <th>Ticket_Id</th>
            <th>Date</th>
            <th>No_Of_Adults</th>
            <th>No_Of_Childs</th>
            <th>Total_Cost</th>
             <th> Total_Tickets</th>
            </center>
       </thead><br><br><br><br>
       <tbody>
          <center>
           <tr> 
           <td><b>   {{ticket_id}}  </b></td><br><br>
           <td><b>   {{Date}}  </b></td><br><br>
           <td><b>   {{adult}}  </b></td><br><br>
           <td><b>   {{child}}  </b></td><br><br>
           <td><b>   {{cost}}  </b></td><br><br>
           <td><b>   {{total}}  </b></td>

           </tr>
          </center>  
        </tbody>
    </table>
</body>
            
   </html>