<html>
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style> 

body{
                background:url("https://downloader.la/temp/5d71fe4c0ddd1.png");
                background-repeat: no-repeat;
                background-size: cover;
        }
</style>
    </head>
    <body>
            <nav class="navbar navbar-inverse">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#"></a>
                      </div>
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="/booking/">Booking</a></li>
                        <li><a href="/details/">Previous Details</a></li>
                        <li><a href="/home">Logout</a></li>
                        <li><a href="/alldtls/">All User Details</a></li>

                        <!-- <li><a href="#">Page 3</a></li> -->
                      </ul>
                    </div>
                  </nav><h2>welcome To Uganda Zoo Park... </h2>
            <!-- <nav class="w3-bar w3-red">
<br><br>&nbsp;&nbsp; <a href="/booking" class="w3-button w3-bar-item">Booking</a>
<a href="/details/" class="w3-button w3-bar-item">Previous Details</a>
<a href="/home/" class="w3-button w3-bar-item">Logout</a>
<!-- <a href="#contact" class="w3-button w3-bar-item">Login</a>
<a href="#contact" class="w3-button w3-bar-item">Ticket Booking</a>
<a href="#contact" class="w3-button w3-bar-item">Details</a> -->



<!-- </nav> -->
        <!-- <br><br><br> <br><br><br><a href="/booking/" ><b><center>Booking</center></b></a>&nbsp; -->
        <!-- <a href="/details/"><b><center>Previous Details</center></b></a><br> -->
        <!-- <h4> <center>Welcome To User ......</center></h4> -->
    </body>
</html>